.button-default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
  width: 321px;
  height: 38px;
  font-size: var(--font-size3);
  font-weight: var(--font-weight2);
  cursor: pointer;
}

.button-login {
  background: rgba(55, 79, 200, 0.4);
  color: rgba(255, 255, 255, 0.35);
}

.button-login:enabled {
  background: var(--brand100);
  border: 1px solid var(--brand100);
  color: var(--gray900);
}

.blue-button {
  background: var(--brand100);
  border: 1px solid var(--brand100);
  color: var(--gray900);
}

.blue-button-small {
  background: var(--brand100);
  border: 1px solid var(--brand100);
  color: var(--gray900);
  width: fit-content;
  /* height: 38px; */
}

.red-button-small {
  color: var(--gray900);
  background: var(--alert100);
  border: 1px solid var(--alert100);
  border-radius: 4px;
}

.red-button-small:hover {
  background: var(--alert200);
  border: 1px solid var(--alert200);
}

.blue-button:hover {
  background: var(--brand200);
  border: 1px solid var(--brand200);
}

.blue-button-small:hover {
  background: var(--brand200);
  border: 1px solid var(--brand200);
}

.transparent-button {
  background-color: var(--white);
  border: 1px solid var(--gray600);
}

.transparent-button-small {
  background-color: var(--white);
  border: 1px solid var(--gray600);
  width: fit-content;
  /* height: 38px; */
}

.transparent-button:hover {
  background: var(--gray800);
  border: 1px solid var(--gray600);
}

.transparent-button-small:hover {
  background: var(--gray800);
  border: 1px solid var(--gray600);
}

.grey-button {
background: var(--gray600);
border: 1px solid var(--gray600);
border-radius: 4px;
color: var(--gray400);
width: fit-content;
}

.grey-button:hover {
color: var(--gray300);
}


.loading {
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ancora {
  color: var(--brand100);
  cursor: pointer;
  text-decoration: none;
}

.ancora:hover {
  text-decoration-line: underline;
}

#leave {
  background-image: url(../images/sign-out-alt.png);
  background-position: left;
  height: 62px;
  width: 215px;
  background-repeat: no-repeat;
  padding: 20px;
}

#leave:hover {

}