@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --brand100: hsl(230, 57%, 50%);
  --brand200: hsl(230, 68%, 54%);
  --gray100: hsl(210, 11%, 15%);
  --gray200: hsl(210, 10%, 23%);
  --gray300: hsl(210, 9%, 31%);
  --gray400: hsl(210, 7%, 56%);
  --gray500: hsl(210, 11%, 71%);
  --gray600: hsl(210, 16%, 93%);
  --gray700: hsl(210, 17%, 95%);
  --gray800: hsl(210, 17%, 98%);
  --gray900: hsl(200, 100%, 99%);
  --alert100: hsl(349, 57%, 50%);
  --alert200: hsl(349, 69%, 55%);
  --sucess100: hsl(162, 88%, 26%);

  --white: #ffffff;

  --font-size1: 32px;
  --font-size2: 20px;
  --font-size3: 16px;
  --font-size4: 14px;

  --font-weight1: 600;
  --font-weight2: 500;
  --font-weight3: 400;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--gray100);
  font-style: normal;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}