img {
  width: 32px;
  height: 32px;
  border: 1px solid var(--gray100);
  border-radius: 50%;
}

body {
  width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* padding: 0 15px; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 67px 0;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

ul > li {
    width: 796px;
    /* height: 48px; */
  margin-bottom: 70px;
}

.titlePost{
    display: flex;
    /* text-align: center; */
    align-items: center;
    width: 100%;
    height: 64px; 
    background: #F8F9FA;
    margin-bottom: 35px;
}

.headerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerCard > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.buttonsCard {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.divPosts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}