img {
  width: 32px;
  height: 32px;
  border: 1px solid var(--gray100);
  border-radius: 50%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* padding: 0px 29%; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 67px 0px;
  width: 800px;
  margin: 0 auto;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 204px;
}

ul > li {
  width: 796px;
  /* height: 48px; */
  margin-bottom: 70px;
}

.titlePost {
  display: flex;
  /* text-align: center; */
  align-items: center;
  width: 100%;
  min-width: 800px;
  height: 64px;
  background: #f8f9fa;
  margin-bottom: 35px;
  /* padding: 0px 21%; */
}

.headerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerCard > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.buttonsCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.divPosts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postBoxText {
  overflow-wrap: break-word;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

ul li .divLogout {
  position: relative;
  top: 0;
  right: 173px;
  display: none;
  background: var(--gray900);
}

.divLogout > p {
  display: flex;
  padding: 20px;
  width: 215px;
}

.btnLeave {
  border: none;
  font-weight: 500;
}

ul li:hover > .divLogout {
  display: block;
}

.ulLogout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.liLogout {
  width: 0px;
  height: 0px;
  margin-bottom: 33px;
}

.buttonLogoutSpan {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 62px;
  width: 215px;
}

.imgBtnLogout {
  width: 14px;
  height: 21px;
}

.h2-title {
  width: 800px;
  margin: 0 auto;
}